.subheader{
    height: 70vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(tentang.jpeg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.subheader h1{
    margin-top: 40px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 130px;
}

.navlink{
    flex: 1;
    text-align: right;
    

}

.navlink ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navlink ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    
}

.navlink ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #03fb07;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}

.navlink ul li:hover::after{
    width: 100%;
}


.kontener{
    background-image: url(DRONE.jpg) ;
    background-size: cover;

}
.kotakgede{
    width: 300px;
    padding: 2em 1em;
    margin: 10px auto;
    background-color: #ff99da;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    margin-top: 10px;
    height: 350px;
   
}

.kotakgede h1{
    font-size: 2rem;
    color: black;
    margin-bottom: 1.2rem;
    font-family: 'poppins' sans-serif;
}

form input{
    width: 80%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: #da9d7a;
    margin-top: 10px;
}


.dlm1{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: NONE;
    border-radius:20PX ;
    padding: 12px 34px;
    background: rgb(33, 23, 224);
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.dlm1:hover{
    border: none;
    border-radius: 20px;
    background:rgb(23, 224, 57);
    transition: 1s;
}

.setuju{
    margin-top: 10px;
}
.punya{
    margin-top: 10px;
}




footer{
    background-color: black;
}

.footer-kontener{
    width: 90%;
    padding: 70px 30px 20px;
}

.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.social-icons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.social-icons:hover{
    background-color: #1111;
    transition: 0.5s;
}


.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
}

.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity: 1;
}

.footerbawah{
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerbawah p{
    color: white;
}

.saya{
    opacity: 0.8;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media(max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }

    .footernav ul li{
        width: 90%;
        text-align: center;
        margin: 10px;
    }
}